*.class
*.classpath
*.apk
*.ap_
*.dex
*.project
*.ini
*.svg
proguard.cfg
project.properties
lint.xml
res/values/apikeys.xml
bin/
gen/
libs/
.dropbox
.euml2
.settings/
.umlproject

