*.class
*.classpath
*.apk
*.ap_
*.dex
*.project
*.properties
*.ini
*.svg
*.iml
*.log
proguard.cfg
project.properties
lint.xml
res/values/apikeys.xml
bin/
gen/
libs/
.settings/
.idea
build/
/local.properties