*.class
*.classpath
*.apk
*.ap_
*.dex
*.project
*.properties
*.ini
*.svg
*.iml
*.log
proguard.cfg
lint.xml
res/values/apikeys.xml
ShortestWalkingRoute/manifest-merger-release-report.txt
bin/
gen/
libs/
.settings/
.gradle/
.idea/
build/
